.holder {
  display: grid;
  width: 200px;
  height: 200px;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(2, 1fr);
}
.holder>div {
  border: 1px solid gray;   /* shows each box */
  display: flex;
  align-items: center;
  justify-content: center;
}
